@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.google.com/?query=ocr+a+extended");

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "OCR A Extended", sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

header img {
    width: 100%;
    height: 460px;
}

.container-navigation {
    display: block;
    background: rgba(233, 231, 238, 1);
    top: 0;
    right: 0;
    left: 0;
    position: relative;
    bottom: -16px;
    text-align: center;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 271px;
    margin: auto;
    border-radius: 10px;
    margin-top: -25px;
}

.container-navigation-center {
    display: block;
    background: rgba(233, 231, 238, 1);
    text-align: center;
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: auto;
    margin-top: -5px;
    font-size: 20px;
}

.container-navigation a {
    font-family: "OCR A Extended", sans-serif;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.container-navigation a:hover {
    background: #003161;
    text-shadow: 2px 1px 3px black;
    color: white;
    border-radius: 10px;
}

.container-navigation-center a {
    font-family: "OCR A Extended", sans-serif;
    text-decoration: none;
    color: black;
}

.container-navigation-center a:hover {
    background: #003161;
    text-shadow: 2px 1px 3px black;
    color: white;
    border-radius: 10px;
}

section#portfolio {
    border: 2px solid blue;
}

section#fun-stories {
    border: 2px solid red;
}

/*-----ZA TABLET:----*/
@media screen and (max-width: 1024px) {
    .container {
        padding: 20px;
        padding-bottom: 0;
    }

    li.page-scroll {
        padding-right: 20px;
    }
}

@media screen and (min-width: 600px) {
    .container-navigation-center {
        display: none;
    }

}

/*-----ZA TELEFON:----*/
@media screen and (max-width: 640px) {
    .container-navigation {
        display: none;
    }

    header img {
        width: 100%;
        height: 439px;
    }
}

.hidden {
    display: none !important;
}

/*
#mainNav::before, .container::before, .navbar-header::before {
    content: '';
    display: table;
}*/
h2 {
    font-family: "OCR A Extended", sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
}

.gallery li {
    display: inline-block;
    padding: 35px;
}
.gallery ul{
    margin: 0 auto;
    width: 91%;
    padding: 10px;
}
li.odd {
    background: rgba(35, 76, 138, 0.27);
    margin: 10px;
}

li.even {
    background: rgba(227, 151, 14, 0.27);
    margin: 10px;
}
div.info{
    margin-top: 15px;
    background: #003161;
    padding: 30px;
    padding-bottom: 132px;
    box-shadow: 1px 1px 3px 1px black;
}
.info p {
    text-shadow: 2px 1px 3px black;
    color: white;
    text-align: justify;
    font-size: 30px;
}
.info p:first-letter{
    font-size: 40px;
}
.info img{
    float: right;
    margin: 0 0 10px 10px;
    border: 33px solid rgba(248, 227, 189, 0.85);
}

.contact-forms {
    background: rgba(227, 151, 14, 0.27);
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    position: relative;
}
form{
    margin: 30px;
    text-align: -webkit-right;
    font-size: 23px;
}
form img{
    float: right;
    margin: 0 0 10px 10px;
}
.form-control{
    padding: 7px;
    font-size: 17px;
    margin: 7px;
}
button{
    margin-right: 25%;
    padding: 10px 40px 10px 40px;
    outline: none;
    background: #003161;
    border: none;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px black;
}