@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url("https://fonts.google.com/?query=ocr+a+extended");
html {
    box-sizing: border-box;
    margin: 0 auto;
}
body{
    font-family: "OCR A Extended", sans-serif;
}
nav {
    display: block;
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(233, 231, 238, 1);
    font-weight: 700;
    letter-spacing: 1px;
    position: fixed;
    min-height: 50px;
    margin-bottom: 20px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom-width: 1px;
}

.container {
    padding: 15px;
    padding-bottom: 0;
}

section#portfolio {
    border: 2px solid blue;
}

section#fun-stories {
    border: 2px solid red;
}

.container > .navbar-header {
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
}

.navbar-header > a.navbar-brand {
    font-family: "OCR A Extended", sans-serif;
    font-weight: 600;
    -webkit-text-stroke: 0.7px rgb(244, 178, 32);
    font-size: 26px;
    text-shadow: 4px 1px 5px rgba(0, 0, 0, 0.38);
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.navbar-collapse {
    display: inline-block;
    float: right;
}

ul.navbar-right li {
    display: inline-block;
}

.navbar-right li a {
    text-decoration: none;
    color: rgb(244, 178, 32);
    font-weight: 700;
    font-size: 20px;
}

ul.navbar-nav {
    margin-top: 0;
}

li.page-scroll {
    padding-right: 24px;
}

li.page-scroll a:hover {
    border-bottom: 2px solid rgb(6, 6, 6);
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgb(80, 80, 80);
    text-decoration: none;
}
/*-----ZA TABLET:----*/
@media screen and (max-width: 1024px) {
    .navbar-custom {
        padding: 5px 0;
        transition: padding .3s;
    }

    .container {
        padding: 20px;
        padding-bottom: 0;
    }

    li.page-scroll {
        padding-right: 20px;
    }
}

.nav > li {
    position: relative;
    display: block;
}

.hidden {
    display: none !important;
}

/*
#mainNav::before, .container::before, .navbar-header::before {
    content: '';
    display: table;
}*/